<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1>Вхід</h1><br>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="https://t.me/registration_for_site_bot">Створити акаунт</a><br><br>
                    <button type="submit" class="btn btn-primary btn-block">Вхід</button>

                    <!--          <div class="divider d-flex align-items-center my-4">-->
                    <!--            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>-->
                    <!--          </div>-->

                    <!--          <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"-->
                    <!--            role="button">-->
                    <!--            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook-->
                    <!--          </a>-->
                    <!--          <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"-->
                    <!--            role="button">-->
                    <!--            <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>-->

                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>